<!-- <div class="entity-manager">
  <app-entity-sidebar
    [selectedEntity]="selectedEntity()"
    (onSelect)="onEntitySelect($event)"
  />

  <div class="main-content">
    <router-outlet />
    
    @if (selectedConfig() && !isFormMode()) {
      <app-entity-list
        [config]="selectedConfig()"
        (onDelete)="onDelete($event)"
      />
    }

    @if (selectedConfig() && isFormMode()) {
      <app-entity-form
        [config]="selectedConfig()"
        (onSave)="onSave($event)"
      />
    }
  </div>
</div> -->














<!-- 
<div class="entity-manager">
  <app-entity-sidebar
    [selectedEntity]="selectedEntity()"
    (onSelect)="onEntitySelect($event)"
  />

  <div class="main-content">
    <router-outlet />
    
    @if (selectedConfig() && !isFormMode()) {
      <app-entity-list
        [config]="selectedConfig()"
        (onDelete)="onDelete($event)"
      />
    }

    @if (selectedConfig() && isFormMode()) {
      <app-entity-form
        [config]="selectedConfig()"
        [visible]="isFormMode()"
        [data]="editingData()"
        [loading]="isLoading()"
        [isEditing]="!!editingId()"
        (onSave)="onSave($event)"
        (onCancel)="onCancel()"
      />
    }
  </div>
</div> -->






<div class="entity-manager">
  <app-entity-sidebar
    [selectedEntity]="selectedEntity()"
    (onSelect)="onEntitySelect($event)"
  />

  <div class="main-content">
    <router-outlet />
  </div>
</div>